body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#movieForm {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

#movieInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#movieList {
  list-style-type: none;
  padding: 0;
}

#movieList li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

#movieList li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#movieList li ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}

#movieList li ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#movieList li ul li img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
#shareButton {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#shareButton:hover {
  background-color: #218838;
}
